<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>회원 가입</h1>

    <form action="" name="signup-form">
      <label for="userId">ID</label>
      <input type="text" name="userId" id="userId" />
      <br />
      <label for="userPw">Password</label>
      <input type="password" name="userPw" id="userPw" />
      <br />
      <label for="userName">Name</label>
      <input type="text" name="userName" id="userName" />
      <br />
      <button type="button" onclick="register()">Register</button>
    </form>

    <a href="/user/signin">Login</a>
    ㄴ
  </body>
</html>
