<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <%- include('./component/header')%>
    <h1>Hello EJS</h1>
    <% for(let i = 0; i<5; i++) { %>

    <div><%= i %> 번째 인사</div>
    <% } %>
    <!--  -->
    <% let name = "최진" %>
    <!--  -->
    <div>이름: <%= name%></div>
  </body>
</html>
