<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 정보</title>
  </head>
  <body>
    <h1>회원 정보</h1>

    <a href="/user">HOME</a>

    <p>ID 수정 불가능, Password, name 수정 가능</p>

    <form action="">
      <label for="">ID</label>
      <input type="text" name="" id="" readonly />
      <br />
      <label for="">Password</label>
      <input type="password" name="" id="" />
      <br />
      <label for="">Name</label>
      <input type="text" name="" id="" />
      <br />
      <button type="button">Edit</button>
      <button type="button">Delete</button>
    </form>
  </body>
</html>
