<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>socket.io-practice1</title>

    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>My Chat</h1>

    <!-- [실습1] 각 버튼을 누를 때마다 서버로 메세지 전송 -->
    <button onclick="sayHello()">Hello</button>
    <button onclick="sayStudy()">Study</button>
    <button onclick="sayBye()">Bye</button>

    <p id="server-result"></p>

    <script>
      // 소켓 사용을 위한 객체 생성
      const socket = io.connect();

      socket.on("connect", () => {
        console.log("클라이언트 연결 완료 >", socket.id);
      });

      function sayHello() {
        //emit: 서버로 이벤트 보내기
        socket.emit("hello", { who: "client", msg: "hello" });
      }

      //helloKR on
      socket.on("helloKR", (data) => {
        console.log(data);
        document.querySelector(
          "#server-result"
        ).textContent = `${data.who} : ${data.msg}`;
      });

      function sayStudy() {
        socket.emit("study", { who: "client", msg: "study" });
      }

      socket.on("studyKR", (data) => {
        console.log(data);
        document.getElementById(
          "server-result"
        ).textContent = `${data.who} : ${data.msg}`;
      });

      function sayBye() {
        socket.emit("bye", { who: "client", msg: "bye" });
      }

      socket.on("byeEmit", (data) => {
        console.log(data);
        document.getElementById(
          "server-result"
        ).textContent = `${data.who} : ${data.msg}`;
      });
    </script>
  </body>
</html>
