<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include', {title: 'Login'}) %>
    
    <style>
        .login-box {
            width: 20rem;
            max-width: 90%;
            box-shadow: 0 0 10px #000;
            border-radius: 10px;
            padding: 30px 20px;
            text-align: center;
        }

    </style>
  </head>
  <body>
    <div class="login-box">
    <h1>로그인</h1>
    <body>
      참고! 아이디: <b>banana</b> <br />
      비밀번호는 <b>1234</b>
    </p>


    <form action="/login" method="POST">
        <div class="input-group mb-3">

            <span class="input-group-text" id="id"> ID </span>
            <input type="text" class="form-control" aria-label="id input" aria-describedby="id" name="id">

            
        </div>

           <div class="input-group mb-3">

            <span class="input-group-text" id="pw"> PW </span>
            <input type="password" class="form-control" aria-label="pw input" aria-describedby="pw" name="pw">

            
        </div>
        <button class="btn btn-dark"> Login </button>
        <br>
        <a href="/"> HOME 이동 </a>

    </form>

    </div>
  </body>
</html>
