<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main page</title>
  </head>
  <body>
    <h1>메인 화면</h1>

    <button>
      <a href="/register"> 회원가입 </a>
    </button>

    <button>
      <a href="/login"> 로그인 </a>
    </button>
  </body>
</html>
