<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>12/13 form</title>
  </head>
  <body>
    <!-- input - name으로 키 설정 -->
    <fieldset>
      <legend>GET FORM</legend>
      <form action="/getForm" method="get">
        <label for="ID">ID </label>
        <input type="text" name="ID" id="ID" />
        <br />
        <label for="PW">PW</label>
        <input type="password" name="PW" id="PW" />
        <br />
        <button>제출</button>
      </form>
    </fieldset>

    <fieldset>
      <legend>POST FORM</legend>
      <form action="/postForm" method="post">
        <label for="ID">ID </label>
        <input type="text" name="ID" id="ID" />
        <br />
        <label for="PW">PW</label>
        <input type="password" name="PW" id="PW" />
        <br />
        <button>제출</button>
      </form>
    </fieldset>
  </body>
</html>
