<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>HOME</title>
  </head>
  <body>
    <h1>JWT 실습!</h1>
    <div id="info"></div>

    <script>
      // index.ejs가 랜더 될 때, 로그인한 유저인지 아닌지 판별
      // jwt 활용 (토큰)
      // 토큰이 있다면 -> 로그인이 된 유저
      // 토큰이 없다면 -> 로그인이 안된 유저
      // 토큰이 있으면 axios요청으로 유저 정보를 받아서 띄워줌
      // 토큰이 없다면 login 페이지 링크 띄워줌

      // 프론트엔드 담당은 토큰을 어디에 저장할지 잘 고민해야한다.

      (async function () {
        const token = localStorage.getItem("login");
        const infoBox = document.getElementById("info");
        let data = "";

        try {
          if (!token) {
            data = '<a href="/login">로그인</a>';
          } else {
            const res = await axios({
              method: "POST",
              url: "/token",
              headers: {
                Authorization: `Bearer ${token}`,
              },
            });

            console.log(res.data);

            if (res.data.isVerify) {
              data = `
                <p>${res.data.name}님 환영합니다!</p>
                <button type='button' onclick='logout()'>로그아웃</button>
              `;
            } else {
              alert(res.data.msg);
            }
          }

          infoBox.innerHTML = data;
        } catch (err) {
          console.log("err >", err);
        }
      })();

      function logout() {
        localStorage.clear();
        document.location.reload();
      }
    </script>
  </body>
</html>
